.emission-point-form {
  display: grid;
  gap: 1rem;
}

.field {
  display: grid;
  gap: 0.4rem;
}

.error {
  color: var(--p-red-500);
}

.field-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
